<div id="home-page" class="full-height p-4">
    <div class="container pt-3">
        <div class="row pb-5">
            <div class="col-lg-6 pt-4 my-auto">
                <div class="tex-center mb-3 d-block d-lg-none">
                    <h1 class="display-3">PetsLovers</h1>
                    <h3>Una solución para tu PYME</h3>
                </div>
                <img id="main-image" src="../../../assets/images/pets.jpg" class="img-fluig">
            </div>
            <div class="col-lg-6 my-auto pt-4">
                <div class="tex-center mb-3 d-none d-lg-block">
                    <h1 class="display-3">PetsLovers</h1>
                    <h3>Una solución para tu PYME</h3>
                </div>
                <div class="border p-3 p-md-5 bg-white rounded shadow">
                    <h2>¡Únete a nosotros gratis!</h2>
                    <form ref="form">
                        <div class="form-group">
                            <label for="emailSignup" class="inputText">Crea tu cuenta ahora</label>
                        
                            <button mat-button>REGISTRARSE</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
