<div class="container-fluid m-0 p-0" id="prueba" >
    <div id="home-page" class="full-height p-4">
        <div class="container pt-3">
            <div class="row pb-5">
                <div class="col-lg-6 pt-4 my-auto">
                    <div class="text-center mb-3 d-block d-lg-none">
                        <h1 class="display-3">PetsLovers</h1>
                        <h3>Una solución para tu PYME</h3>
                    </div>
                    <img id="main-image" src="../../../assets/images/dog.jpg" class="img-fluig">
                </div>
                <div class="col-lg-6 my-auto pt-4">
                    <div class="text-center mb-3 d-none d-lg-block">
                        <h1 class="display-3 header">DOG LOVER</h1>
                        <h3 class="header">Role {{userData.role | uppercase}}</h3>
                    </div>
                    <mat-card>
                        <mat-card-content>
                            <mat-list role="list">
                                <mat-list-item *ngFor="let dog of dogs"><mat-icon style="margin-right: 2%;">pets</mat-icon>{{dog}}</mat-list-item>
                            </mat-list>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
